<%- include("partials/header") %>


<div class="container" style="padding-top: 20%;">
    <div class="row">
      <div class="col text-center">
          <h1>Welcome to Konsument Omdöme webpage</h1> 
          <a class="btn btn-success" href="/reviews">View all reviews</a>
      </div>
    </div>
  </div>


<%- include("partials/footer") %>
